



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;

}

body {
    background: #ffffff url('../img/wallpaper.jpg'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #3bff5f78;
    font-size: 33px;
    animation-name: rubberBand;
    animation-duration: .75s;

}

.deck .card.Nomatch {
    cursor: default;
    background: red;
    font-size: 33px;
    animation-name: pulse;
    animation-duration: .75s;
}

/*
 * Styles for the Score Panel
 */


.score-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    padding:15px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: yellow;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves{

    margin-right: -28px;
}

.score-panel .clock{

    margin-left: -28px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: -19px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1;
    color: black;


}
/* HERE IS WHERE POSITION AND COLOUR STYLE OF MODAL*/
.modal_detail {
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    background: #35b9da;
    transform: translate(-50%, -53%);


}
.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid gray;
}

.modal_title {
    font-weight: 95;
    font-size: 20px;
}
.modal_shut {
  font-weight: bold;
  font-size: 25px;
}

.modal_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid gray;
    font-size: 25px;
}

.modal_time {
    margin-left: -5px;
}

.modal_moves {
    margin-right: -6px;
}
.modal_buttons {
    display:flex;
    justify-content: space-around;
    padding: 1rem;
}
.modal_cancel {
    width: 76px;
    height: 33px;
    background-color: #af0606;
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.modal_replay {
    width: 76px;
    height: 33px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.hide {
    display: none;
}

@keyframes rubberBand {
    0% {transform: scale(1);}
    30% {transform: scaleX(1.25) scaleY(0.75);}
    40% {transform: scaleX(0.75) scaleY(1.25);}
    60% {transform: scaleX(1.15) scaleY(0.85);}
    100% {transform: scale(1);}
}
.rubberBand {
    animation-name: rubberBand;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}


/*
MEDIA QUERIES
*/

@media screen and (max-width: 768px) {

    .modal_detail {
        position: relative;
        width: 400px;
        top: 50%;
        left: 50%;
        background: #35b9da;
        transform: translate(-50%, -80%);
    }

    .modal_stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid gray;
        font-size: 20px;
    }
    .modal_shut {
        font-weight: bold;
        font-size: 20PX;
    }

    .modal_cancel {
        width: 80PX;
        height: 30px;
        background-color: #af0606;
        border: none;
        color: white;
        padding: 6px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .modal_replay {
        width: 80px;
        height: 30px;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 6px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
}

@media screen and (max-width: 450px) {
    .deck {
        width: 250px;
        min-height: 250px;
        padding: 15px;
    }

    .deck .card {
        height: 50px;
        width: 50px;
    }

    .score-panel {
        text-align: left;
        width: 250px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .header {
        font-size: 15px;
    }
    .deck .card.show {
        font-size: 20px;
    }
    .deck .card.Nomatch {
        font-size: 20px;
    }
    .deck .card.match {
        font-size: 20px;

    }
    .score-panel .moves{

        margin-right: -12px;
    }

    .score-panel .clock{

        margin-left: -14px;
    }
    .modal_detail {
        font-size: 8px;
        position: relative;
        width: 250px;
        top: 50%;
        left: 50%;
        background: #35b9da;
        transform: translate(-50%, -268%);
        display: flex;
        justify-items: auto;
    }
    .modal_title {
        font-weight: 95;
        font-size: 15px;
        width: 150px;
        margin-bottom: 73px;
    }
    .modal_shut {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 72px;
        margin-left: 57px;
    }
    .modal_stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid gray;
        font-size: 10px;
        margin-top: 22px;
        margin-left: -210px;
    }
    .modal_time {
        margin-left: -43px;
        margin-right: 9px;
    }

    .modal_stars {
        margin-left: 18px;
    }

    .modal_moves {
        margin-right: -6px;
        margin-left: 30px;
    }
    .modal_buttons {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        margin-top: 40px;
        margin-left: -179px;
    }


    .modal_cancel {
        width: 38px;
        height: 20px;
        background-color: #af0606;
        border: none;
        color: white;
        padding-right: 20px;
        padding-left: 4px;
        padding-top: 4px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 9px;
    }

    .modal_replay {
        width: 38px;
        height: 20px;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding-right: 3px;
        padding-left: 4px;
        padding-top: 4px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 9px;
        margin-left: 38px;
    }
}

@media screen and (max-width: 375px) {

    .modal_detail {
        font-size: 8px;
        position: relative;
        width: 250px;
        top: 50%;
        left: 50%;
        background: #35b9da;
        transform: translate(-50%, -269%);
        display: flex;
        justify-items: auto;
    }
    .modal_cancel {
        width: 38px;
        height: 16px;
        background-color: #af0606;
        border: none;
        color: white;
        padding-right: 5px;
        padding-left: 4px;
        padding-top: 3px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 8px;
    }

    .modal_replay {
        width: 38px;
        height: 16px;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding-right: 5px;
        padding-left: 4px;
        padding-top: 3px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 8px;
        margin-left: 38px;
    }
}
